<div class="container">
  <h1>MY Quotes</h1>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <div class="quote" *ngFor='let quote of quotes;let i = index'>
        <p>{{quote.name}}</p>
        <div class="votes">
          <h3>Likes:<span id="liked">{{quote.counter1}}</span></h3>
          <h3>Disikes:<span id="disliked">{{quote.counter1}}</span></h3>

        <div>
          <div class="vote-buttons">
            <button (click)= "upvote(quote)" class="upvote">Like</button>
            <button (click)= "downvote(quote)" class="downvote">Dislike</button>

          </div>
          <button></button>
          <h6 id={{i}} appStrikethrough>{{quote.name}} due on {{quote.completeDate|date|uppercase}}</h6>
          <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>
        </div>

        <div *ngIf='quote.showDescription'>
          <app-quote-detail [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-detail>
        </div>
      </div>
    </div>

    <div class="col-md-6">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
  </div>

</div>